# Python bytecode
*.pyc
__pycache__/

# Логи и временные файлы
*.log
*.tmp

# Файлы виртуального окружения
venv/
env/

# Конфигурационные файлы IDE
.vscode/
.idea/

# Файлы с секретами и конфигурациями
.env
.git